/***
Projet :projets partagés clps-lux & clps-bx
Affinitic, décembre 2011
***/

html, body{
height:100%;
}

body{
margin:0px;
padding:0px;
background:url(images/bg01.jpg) repeat left top;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:11pt;
color:#979797;
}

a{
color:#D16700;
}

a:hover{
text-decoration:none;
}

a img{
border:none;
}

h1, h2, h3{
color:#637388;
}

h1{
border-bottom:1px dotted #ccd8e8;
}

.gras{
font-weight:bold;
}

.orange{
color:#d75600;
}

/*** WRAPPER ***/
#wrapper{
height:100%;
min-height:100%;
background:url(images/bg02.jpg) repeat-y center top;
}

html>body #wrapper{
height:auto;
}

#body-bg-sup{
background:url(images/bg03.jpg) repeat-x left top;
}

.container{
width:910px;
margin:0px auto;
}

/*** HEADER ***/
#header{
}

/*** HEADER1 ***/
#header1-bg{
background:url(images/bg04.jpg) no-repeat center top;
}

#header1{
height:52px;
}

/*** SITE ACTION ***/
#site-action{
float:left;
margin:0px;
padding:18px 0px 0px 0px;
line-height:normal;
color:#8b917d; 
}

#site-action p{
}

#site-action a{
padding:0px 10px;
text-decoration:none;
color:#8b917d;
}

#site-action a:hover{
text-decoration:underline;
color:#bbc1ac;
}

/*** SEARCH ***/
#search{
float:right;
width:240px;
padding:17px 0px 0px 0px;
}

#search form{
margin:0px;
padding:0px;
}

#search fieldset{
margin:0px;
padding:0px;
border:none;
}

#search input{
float:left;
}

#search-query{
width:200px;
background:none;
border:none;
font:11px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#8b917d;
}

#search-submit{
display:none;
}

/*** HEADER 2 ***/
#header2-bg{
background:url(images/bg05.jpg) no-repeat center top;
}

#header2{
height:80px;
}

/*** LOGO PROJET PARTAGE ***/
#logo{
position:relative;
top:-13px;
left:10px;
width:400px;
height:104px;
background:url(images/logo_projet_partage.png) no-repeat left top;
}
#logo a{
display:block;
height:104px;
}

#username{
position:relative;
top:181px;
left:0px;
font-size:0.7em;
color:#aaa;
text-align:right;
padding:0px;
border-bottom:1px solid #aaa;
}


/*** MENU SUP ***/
#menu{
position:relative;
top:-50px;
left:530px;
width:385px;
}

#menu ul{
margin:0px;
padding:0px 0px 0px 0px;
list-style:none;
line-height:normal;
text-align:right;

}

#menu li{
display:inline;
border-left:1px solid #6E8446;
color:#8B3D5A;
}

#menu a{
padding:0px 15px;
text-decoration:none;
font-size:13px;
color:#ACBC97;
}

#menu a:hover{
text-decoration:underline;
}

#menu li.first{
border:none;
}

#menu li.first a{
padding-left:0px;
}

#menu li.last a{
padding-right:0px;
}


/*** HEADER 3 ***/
#header3-bg{
background:url(images/bg06.jpg) no-repeat center top;
}

#header3{
height:180px;
padding:30px 0px 0px 20px;
color:#CEE5B7;
}

#header3 h1{
margin:0px;
color:#FFFFFF;
}

#header3 p{
margin-bottom:15px;
letter-spacing:-1px;
font-size:17px;
color:#D8EDB4;
width:400px;
}

#header3 img.alignright{
margin-left:40px;
}

#text-intro{
width:450px;
float:left;
margin-top:-10px;
}

#logo-clps{
width:320px;
height:160px;
float:right;
background-color:rgba(144,184,144,0.4);
border-radius:12px;
}

#logo-clps #logo-clpsbw{
display:block;
width:150px;
float:left;
margin-left:6px;
margin-top:13px;
}

#logo-clps #logo-clpslux{
display:block;
width:150px;
float:right;
margin-right:1px;
margin-top:13px;
}



/*** PAGE ***/
#body-bg-center{
background:url(images/bg07.jpg) repeat left top;
}

#page-bg{
background:url(images/bg08.jpg) repeat-y center top;
}

#page{
padding:3px 0px 3px 0px;
margin-top:10px;
}


/*** USER-INFO ***/
#user-info{
/*width:880px;*/
/*margin:auto; */
padding-left:70px;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
font-size:0.7em;
text-align:right;
}


/*** LEFT-COLUMN ***/
#left-column{
float:left;
width:210px;
min-height:600px;
}


/*** CONTENT ***/
#portal-breadcrumbs {
border-bottom: 1px solid #DDDDDD;
font-size: 80%;
margin-bottom: 1em;
margin-left: 0.25em;
}


#column-centre{
float:right;
width:670px;
border-left:2px solid #ddd;
padding-left:10px;
}

#content{
}


/*** RIGHT-COLUMN ***/
#right-column{
float:right;
width:0px;
}



/*** PORLET DANS FOOTER ***/
#body-bg-inf{
background:url(images/bg09.jpg) no-repeat center top;
}

#box-portlet{
min-height:200px;
padding:22px 0px 60px 210px;
}

#portlet-news,
#portlet-last-experience,
#portlet-event{
border:1px solid #aaa;
border-radius:12px;
width:200px;
height:250px;
float:left;
margin:0px 15px;
background-color:rgba(180, 180, 180, 0.3);
text-shadow:0px 1px 0px rgba(0,0,0);
text-shadow:0px 1px 0px rgba(0,0,0,0.9);
}

#portlet-news h3,
#portlet-last-experience h3,
#portlet-event h3{
font-size:0.9em;
color:#000;
text-shadow:0px 1px 0px rgba(255,255,255);
text-shadow:0px 1px 0px rgba(255,255,255,0.3);
font-variant:small-caps;
text-align:center;
border-bottom:1px solid #666;
width:90%;
padding-top:5px;
}

#portlet-last-experience-content{
padding:8px;
}
#portlet-last-experience a{
display:block;
color:#aaa;
font-size:0.8em;
padding-bottom:12px;
}
#portlet-last-experience a:hover{
color:#fff;
}


/*** FOOTER ***/
#footer{
height:80px;
background:url(images/bg10.jpg) no-repeat center top;
margin-top:20px;
}

#footer p{
margin:0px;
padding:5px 0px;
text-align:center;
color:#4D5045;
}

#footer a{
color:#707367;
}

#footer a:hover{
color:#ff7000;
}

.break-float{
clear:both;
}

.vert-actif{
color:#00aa00;
font-size:1em;
}

.rouge-non-actif{
color:#ff0000;
font-size:1em;
}

.grasbrun{
font-weight:bold;
color:#b93f00;
}

.grasorange{
font-weight:bold;
color:#ff6f00;
}

.grasrouge{
font-weight:bold;
color:#ff0000;
}

.grasvert{
font-weight:bold;
color:#00aa00;
}

.gras{
font-weight:bold;
}


/*** PORLET PRESENTATION DB***/
#portlet-db,
#portlet-db-auteur,
#portlet-gestion-db{
border-radius:10px 0px 0px 10px;
width:200px;
min-height:100px;
margin:2em 0px;
}

.portlePresentationtHeaderDB{
border-radius:10px 0px 0px 0px;
background-color:#249c35;
line-height:30px;
color:#fff;
font-variant:small-caps;
font-size:1.1em;
font-weight:bold;
padding-left:15px;
border-bottom:1px solid #186523;
}

.portletPresentationDB{
background-color:#e5f5ca;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
font-size:0.9em;
line-height:3em;
}

.portletPresentationFooterDB{
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
background-color:#82a687;
height:15px;
}



/*** PORTLET GESTION DB ***/
.portletHeaderDB{
border-radius:10px 0px 0px 0px;
background-color:#faa448;
line-height:30px;
color:#fff;
font-variant:small-caps;
font-size:1.1em;
font-weight:bold;
padding-left:15px;
border-bottom:1px solid #e9953a;
}

.portletItemDB,
#portlet-db-auteur p{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffefdd;
}

.portletPresentationDB ul{
margin:0px;
}

.portletPresentationDB li{
display:block;
margin-left:20px;
}

.portletFooterDB{
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
background-color:#f0e2cf;
height:15px;
}

#portlet-db-auteur .portletHeaderDB{
background-color:#ff76f0;    
}

#portlet-db-auteur .portletItemDB{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffe4f8;
}

#portlet-db-auteur .portletFooterDB {
background-color:#dcbcd2;
}

#portlet-db-auteur .portletItemDB,
#portlet-gestion-db .portletItemDB{
padding:10px 0px 10px 20px;
}

.separation{
width:180px;
margin-left:-13px;
margin-top:5px;
border-bottom:1px dotted #ccc;
}

.portletItemDB a{
padding-left:20px;
font-size:0.8em;
}

.portletItemDB a:hover{
color:#41cff2;
}

.menu-titre{
text-transform:capitalize;
margin-top:10px;
font-size:0.9em;
}

.small-comment{
font-size:0.7em;
color:#aaa;
padding-left:2em;
}

.etatBase{
margin-top:5px;
font-size:0.8em;
background-color:rgba(225, 210, 192, 0.5);
width:160px;
border-radius:12px;
padding:5px;
}


/**** FIELDSET PAGE DB ****/
#content fieldset {
border-color:#329FD7;
border-style:solid;
border-width:0.1em;
border-radius:12px;
background-color:#fff;
}

#content legend {
font-size:1.3em;
padding:0.8em;
}

#content a:link{
text-decoration:none;
border-bottom:none;
}

#content a:hover{
}

#footer-listing{
border-top:1px dotted #ccc;
margin-top:10px;
}

.info-champs{
color:#888;
border-left:1px dotted #ddd;
padding-left:10px;
}

.info-logo{
font-size:14pt;
font-weight:bold;
font-style:italic;
color:#fff;
background-color:#00f;
padding:2px 5px 0px 5px;
}

.form-experience-left-column{
width:500px;
vertical-align:top;
}

.form-experience-right-column{
vertical-align:top;
padding-top:2em;
padding-left:7px;
}

#description-for-manager{
border-top: 3px double #850864;
border-bottom: 3px double #850864;
border-left: 1px solid #850864;
border-right: 1px solid #850864;
background-color:#ffd6ff;
padding:1em;
}

#description-for-manager fieldset{
border: 1px solid #850864;
background-color:transparent;
}

#description-for-manager legend{
background-color:transparent;
}

.div_form_input{
margin-top:8px;
padding-top:8px;
padding-left:8px;
border-top:1px solid #888;
}

.div_question{
margin:10px 0px;
}

#moteur-recherche{
width:100%;
margin:auto;
margin-top:60px;
border:0px solid #eee;
}

.search-zone-nom, .search-legend{
color:#329FD7;
}

.search-ligne-bleue{
background-color:#329FD7;
border:0 none;
height:1px;
margin:0.5em 0 1em;
}

.search-ou{
font-size:2em;
font-weight:bold;
color:#555;
text-align:center;
}

.btn-modifier{
}

.btn-modifier a {
display:block;
width:25px;
height:25px;
text-decoration:none;
background-image:url(images/modifier_off.png);
background-repeat:no-repeat;

}

.btn-modifier a:hover {
background-image:url(images/modifier_on.png);
}


/*** DESCRIPTION DB ***/
#main-experience{
}

/** colonne gauche **/
#left-experience{
float:left;
width:395px;
padding:0px 5px;
color:#51686d;
}

#border-experience{
/*border-left:1px solid #eee;
border-right:1px solid #eee;
padding-right:30px;
/*border-bottom:1px solid #eee;*/
}

#title-experience{
/*margin-top:45px;*/
margin-bottom:20px;
font-weight:bold;
font-size:2em;
text-align:center;
height:73px;
width:100%;
background-color:#d0e9f5;
text-align:center;
border-width:1px 1px 0px 1px;
border-style:solid; 
border-color:#184860;
border-radius: 12px 12px 0px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.description-left-content{
margin-bottom:3em;
}

#title-experience-left{
float:left;
background-image:url(titre_description_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:28px;
height:73px;
}

.titre-top{
float:left;
color:#184860;
width:90%;
line-height:73px;
}

#title-experience-right{
float:right;
background-image:url(titre_description_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:28px;
height:73px;
}

.left-rubrique-db{
color:#329FD7;
}

/** COLONNE DROITE DESCRIPTION EXPERIENCE **/
#right-experience{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:0px;
border:1px solid #329FD7;
border-radius:12px;
background-color:#d0e9f5;
word-wrap: break-word;
}

#right-experience-header{
height:30px;
/*width:216px;
background-image:url(des_exp_right_header.png);
background-repeat:no-repeat;*/
}

#right-experience-content{
width:216px;
background-image:url(des_exp_right_bckgrnd.png);
background-repeat:repeat-y;
}

#right-experience-content p{
background-image:url(puce-carre-noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#right-experience-content a{
text-decoration:none;
color:#3c5057;
}

#right-experience-content a:hover{
text-decoration:underline;
color:#15292f;
}


#right-experience-footer{
width:216px;
height:39px;
background-image:url(des_exp_right_footer.png);
background-repeat:no-repeat;
}

.right-rubrique-db{
background-image:url(images/flch_bleue.png);
background-repeat:no-repeat;
background-position:left center;
color:#184860;
padding-left:12px;
font-weight:bold;
}

#institution-porteur-experience,
#institution-partenaire-experience,
#periode-deroulement-experience,
#territoire-experience,
#ressource-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#personne-contact-experience{
padding:0px 15px 0px 15px;
word-wrap: break-word;
/*margin-bottom:8px;*/
}

#pdf-experience{
padding:0px 15px 0px 15px;
}
.pdf-file{
display: block;
padding-left: 36px;
padding-top: 5px;}

#experience-footer{
/*margin-top:45px;*/
height:13px;
width:100%;
background-color:#d0e9f5;
border-width:0px 1px 1px 1px;
border-style:solid;
border-color:#184860;
border-radius: 0px 0px 12px 12px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}


/*** LISTING EXPERIENCE ***/

#listing-experience-main{
}

#listing-titre{
width:100%;
height:90px;
text-align:center;
font-size:1.2em;
padding-top:25px;
}

#listing-titre h1{
color:#8d173e;
border-bottom:none;
}

#bg_listing_bord_sup{
height:26px;
}

#bg_listing_bord_inf{
height:26px;
background-image:url(bg_listing_bord_inf.png);
background-repeat:no-repeat;
background-position:3px 0px;
}


.listing-experience{
margin:auto;
margin-top:4em;
border-left:2px solid #da9000;
border-right:2px solid #da9000;
width:693px;
}

#listing-experience-bord-sup{
position:relative;
left:-4px;
width:702px;
height:23px;
background-image:url(listing_bord_sup.png);
background-repeat:no-repeat;
}

#listing-experience-bord-inf{
position:relative;
left:-4px;
width:702px;
height:23px;
background-image:url(listing_bord_inf.png);
background-repeat:no-repeat;
}

#listing-nbre-experience{
margin-top:10px;
color:#bc7600;
font-size:1.3em;
font-weight:bold;
text-align:center;
}

.listing-zone-titre{
background-color:transparent;
text-align:center;
margin:auto;
margin-top:-10px;
}

.listing-titre-experience{
position:relative;
top:-5px;
background-color:#fffdee;
background-image:url(puzzle_jaune_18.png);
background-repeat:no-repeat;
background-position:left center;
color:#b03a5f;
font-variant:small-caps;
font-size:1.2em;
font-weight:bold;
padding:0px 1em 0px 2em;
text-decoration:none;
}

.listing-texte-experience{
padding:1em;
}

.listing-experience-etat{
background-color:#ffd6ff;
float: left;
margin-top:15px;
margin-left:10px;
width:95px;
text-align:center;
font-size:0.8em;
color:#dc00be;
border:1px solid #000;
}

.listing-experience-clps-proprio{
width:45px;
float:left;
margin-left:12px;
margin-top:5px;
}

.listing-experience-bouton{
float:right;
margin-top:15px;
margin-right:10px;
}


#footer-listing{
height:46px;
margin-top: 1.2em;
border-top:1px dashed #aaa;
}



/*** DESCRIPTION INSTITUTION ***/
#title-institution{
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
color:#fff;
line-height:73px;
height:73px;
width:100%;
background-color:#003088;
border-width:1px 1px 0px 1px;
border-style:solid;
border-color:#021330;
border-radius: 12px 12px 0px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

#title-institution-left{
float:left;
width:28px;
height:73px;
}

.titre-institution-top{
float:left;
color:#fff;
width:90%;
}

#title-institution-right{
float:right;
width:28px;
padding-top:28px;
}

/* colonne de gauche */
#left-institution{
float:left;
width:390px;
padding:0px 5px;
color:#51686d;
}

/*colonne de droite */
#right-institution{
float:right;
width:205px;
}


#right-institution-coordonnee,
#projet-partage-institution{
color:#111;
font-size:0.8em;
margin-top:0px;
border:1px solid #329FD7;
border-radius:12px;
background-color:#d0e9f5;
margin-bottom:10px;
}

#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;
margin-bottom:10px;
padding-left:10px;
}

#institution-coordonnee-assuetude,
#projet-partage-institution{
padding:5px 15px 5px 15px;
margin-bottom:8px;
}

#projet-partage-institution h3{
line-height:28px;
}

#institution-description-assuetude{
color:#275b39;
background-color:#d6fae3;
border-width:1px;
border-style:solid;
border-color:#0c5425;
border-radius:12px 0px 12px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
padding:5px 15px 5px 15px;
margin:2em 0px;
}

#institution-description-assuetude h3{
font-variant:small-caps;
font-size:1.4em;
border-bottom:1px dotted #58b076;
}

#institution-footer{
height:13px;
width:100%;
background-color:#003088;
border-width:0px 1px 1px 1px;
border-style:solid;
border-color:#021330;
border-radius:0px 0px 12px 12px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
margin-bottom:30px;
}


/*** RDESCRIPTION RESSOURCE ***/
#title-ressource{
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
height:73px;
width:100%;
text-align:center;
background-color:#548962;
border-width:1px 1px 0px 1px;
border-style:solid;
border-color:#27442f;
border-radius: 12px 12px 0px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

#title-ressource-left{
float:left;
width:28px;
height:73px;
}

.titre-ressource-top{
float:left;
color:#fff;
width:90%;
margin-top:10px;
}

#title-ressource-right{
float:right;
width:28px;
height:73px;
}

#left-ressource{
float:left;
width:390px;
padding:0px 5px;
color:#51686d;
}

#right-ressource{
float:right;
width:205px;
color:#111;
margin-top:0px;
}

#right-ressource-content,
#projet-partage-ressource {
background-color: #D0E9F5;
border: 1px solid #329FD7;
border-radius: 12px 12px 12px 12px;
color: #111111;
font-size: 0.8em;
margin-bottom: 10px;
margin-top: 0;
}

#right-ressource-content,
#projet-partage-ressource{
padding:5px 15px 5px 15px;
margin-bottom:8px;
}

#projet-partage-ressource h3{
line-height:28px;
}

#right-ressource-content{
padding:3px 12px;
}

#right-ressource-content div{
margin:15px 0px;
}

#right-ressource-content a{
text-decoration:none;
color:#3c5057;
}

#right-ressource-content a:hover{
text-decoration:underline;
color:#15292f;
}

#right-ressource-footer{
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

#ressource-footer{
height:13px;
width:100%;
background-color:#548962;
border-width:0px 1px 1px 1px;
border-style:solid;
border-color:#27442f;
border-radius:0px 0px 12px 12px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
margin-bottom:30px;
}


/*** ECRAN MERCI INSERTION ***/
.merci-text{
margin-top:2em;
font-size:2em;
text-align:center;
line-height:2.1em;
}

.btn-nouvelle-recherche{
margin:auto;
margin-top:3em;
font-size:1.2em;
width:260px;
height:43px;
line-height:42px; /*permet le centrage vertical*/
text-align:center;
background:#444;
background:-moz-linear-gradient(top,#fff,#bdb);                   /*(top,#777,#333);*/
background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#bdb));
border-radius:8px;
/*effet incriste ombre blanche*/
text-shadow:0px 1px 0px rgba(255,255,255);
text-shadow:0px 1px 0px rgba(255,255,255,0.3);
box-shadow:0 0 5px rgba(0,0,0,0.5), 0 -1px 0 rgba(255,255,255,0.4);
}

.btn-nouvelle-recherche:hover{
background: rgb(208,234,214);
background: -moz-linear-gradient(top, rgba(208,234,214,1) 0%, rgba(170,221,181,1) 17%, rgba(97,198,109,1) 50%,
rgba(75,191,57,1) 51%, rgba(68,214,66,1) 59%, rgba(75,237,81,1) 71%, rgba(96,188,56,1) 84%, rgba(35,127,41,1)
100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,234,214,1)),
color-stop(17%,rgba(170,221,181,1)), color-stop(50%,rgba(97,198,109,1)), color-stop(51%,rgba(75,191,57,1)),
color-stop(59%,rgba(68,214,66,1)), color-stop(71%,rgba(75,237,81,1)), color-stop(84%,rgba(96,188,56,1)),
color-stop(100%,rgba(35,127,41,1)));
background: -webkit-linear-gradient(top, rgba(208,234,214,1) 0%,rgba(170,221,181,1) 17%,rgba(97,198,109,1)
50%,rgba(75,191,57,1) 51%,rgba(68,214,66,1) 59%,rgba(75,237,81,1) 71%,rgba(96,188,56,1) 84%,rgba(35,127,41,1)
100%);
background: -o-linear-gradient(top, rgba(208,234,214,1) 0%,rgba(170,221,181,1) 17%,rgba(97,198,109,1)
50%,rgba(75,191,57,1) 51%,rgba(68,214,66,1) 59%,rgba(75,237,81,1) 71%,rgba(96,188,56,1) 84%,rgba(35,127,41,1)
100%);
}

#content .btn-nouvelle-recherche a{
color:#1c650f !important;
text-decoration:none;
display:block;
width:260px;
height:43px;
}

#content .btn-nouvelle-recherche a:hover{
color:#000 !important;
}




.formulaire li{
list-style-type: none;
}



/*** PLONE ***/
div.managePortletsLink{
background: none repeat scroll 0 0 #F00;
border-radius: 0.5em 0.5em 0.5em 0.5em;
font-size: 80%;
margin: 0 auto 1em;
padding: 0.25em 0.5em;
text-align: center;
width:170px;
}

.ploneSkin .mceExternalToolbar{
background-color: #DDDDDD;
border-color: #444444;
border-style: solid;
border-width: 0 0 1px;
display: none;
left: 0;
position:relative !important;
top: 0;
width:100%;
z-index:3;
}

table.listing{
background-color:#fff;
}

#portlet-prefs{
width:200px;
}
