#portlet-gestion-db, #portlet-db, #portlet-db-auteur{
width:180px;
margin-top:20px;
font-size:0.7em;
border-color:#000;
border-width:2px;
border-style:solid;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
-ms-border-radius: 12px 12px 12px 12px;
border-radius: 12px 12px 12px 12px;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.portlet-gestion-db-separation{
display:block;
width:190px;
margin:15px 0px 5px -14px;
}

.ploneSkin .mceExternalToolbar {
position: relative;
}
