                                                                   /*                                              */
/* Stylesheet for the 'CLPSBW skin' Plone theme */
/*  by AFFINITIC  www.affinitic.be              */
/*                                              */

/*** BODY ***/
body{
background-color:#AAA;
}

fieldset{
/*border:2px solid #c57400;*/
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
-ms-border-radius: 12px 12px 12px 12px;
border-radius: 12px 12px 12px 12px;
} 

.hr-grise{
border-top:1px solid #cfd9d7;   
}


#visual-portal-wrapper{
border-left:3px solid #666;
border-right:3px solid #666;
width:1024px;
margin:auto;
}

/*** HEADER ***/
#portal-header{
height:150px;
}

#portal-top {
background-color:#ccc;
padding:0pt;
}

#portal-personaltools {
border-top-width: 0px;
margin-right:auto;
margin-top:-3px;
background-color:#DEE7EC;
border-bottom:1px solid #8CACBB;
color:#000;
line-height:1.6em;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:0em 3em;
text-align:right;
text-transform:none;
}

#portal-breadcrumbs {
position:relative;
margin-right:auto;
border-bottom-width:0px;
background-color:#DDD;
line-height:1.6em;
padding-left:2em;
padding-right:2em;
padding-bottom:10px;
text-transform:none;
}

/*
.documentActions{ 
background-color:transparent;
position:relative;
padding-left:560px;
top:-35px;
margin-bottom:-20px;
}
*/

#document-action-pdf·{            
}


/*** BARRE DES ONGLETS ***/
.visualClear {
clear:both;
display:block;
}

#globalnav-wrapper{
background-color:#ddd;
border-bottom:1px solid #8CACBB;
}

#portal-globalnav{
position:relative;
z-index:10;
}

#portal-globalnav li{
border:none;
float:left;
margin:0 0 0 16px;
padding:0;
}

#portal-globalnav li a {
border:none;
color:#fff;
height:auto;
margin-right:0.5em;
padding:0em 1.25em;
text-decoration:none;
text-transform:none;
font-size:1.1em;
font-weight:bold;
/*color:#fff;*/
}

#portal-globalnav li a:hover {
border:none;
color:#fff;
background-color:transparent;
}

#portal-globalnav ul.submenu a,
#portal-globalnav ul.submenu a:hover {
border-bottom:1px solid #AAA;
border-top:none;
}

#portal-globalnav li.selected ul.submenu a:hover {
background-color:transparent;
}

#portal-globalnav ul.submenu a:hover {
color:#FFFFFF !important;
}

#portal-globalnav li.selected a {
border-width:0px;
color:#fff;
background-color:transparent;
}
#portaltab-index_html {
background-color:#f8a861;
}
#portaltab-index_html li a {
background-color:#f8a861;
}
#portaltab-index_html li a:hover {
background-color:#01519a;
}

#portaltab-qui-sommes-nous{
background-color:#dd775e;
}
#portaltab-qui-sommes-nous li a{
background-color:#dd775e !important;
color:#fff;
}
#portaltab-qui-sommes-nous li a:hover {
background-color:#dd775e;
color:#fff;
}

#portaltab-qui-sommes-nous ul.submenu{
background-color:transparent;
border:none;
}
#portaltab-qui-sommes-nous ul.submenu a,
#portaltab-qui-sommes-nous ul.submenu a:hover {
color:#fff;
}

#portaltab-que-proposons-nous{
background-color:#8d3d48;
}
#portaltab-que-proposons-nous li a{
background-color:#8d3d48 !important;
}
#portaltab-que-proposons-nous li a:hover {
background-color:#8d3d48;
}
#portaltab-que-proposons-nous ul.submenu{
background-color:transparent;
border:none;
}

#portaltab-territoire{
background-color:#e08e5c;
}
#portaltab-territoire li a{
background-color:#e08e5c !important;
}
#portaltab-territoire li a:hover {
background-color:#e08e5c;
}
#portaltab-territoire ul.submenu{
background-color:transparent;
border:none;
}

#portaltab-contact{
background-color:#ca6970;
}
#portaltab-contact li a{
background-color:#ca6970 !important;
}
#portaltab-contact li a:hover {
background-color:#ca6970;
}
#portaltab-contact ul.submenu{
background-color:transparent;
border:none;
}

#post-sections-clear{
margin-bottom: -2px;
}


/*** COLONNES ***/
#block-clpsbw{
}

#portal-columns{
margin-top:-1px;
border-collapse:collapse;
border-spacing:0pt;
background-color:#EEE;
}

#portal-columns tbody {
border-bottom: 2px solid #666;
}

#portal-column-one {
background-image:url(bckg_menu.png);
border-collapse:collapse;
padding:0 0 0 0px;
vertical-align:top;
width:200px;
border-right:2px solid #ddd;
}

#portal-column-one .visualPadding {
padding:2em 0 1em 0;
}

#portal-column-two{
width:175px;
}



/*** PORTLET ***/
.portlet {
background-color:transparent;
border-bottom:1px solid #8CACBB;
margin:1px 0 1em;
}

.portletHeaderMenuPlateForme {
margin-left:15px;
background-image:url(bg_hd_portlet_menu_plateforme.png);
background-repeat:no-repeat;
width:175px;
height:31px;
background-color:transparent;
border:0px solid #8CACBB;
font-weight:normal;
line-height:1em;
padding:5px 20px 0px 0px;
text-transform:none;
margin-bottom:-5px;
}

.portletHeaderMenuPlateForme a{
color:#fff;
text-align:center;
font-weight:bold;
}

.portletItemMenuPlateForme {
width:187px;
background-color:#fff;
border-left:1px solid #000;
border-right:1px solid #000;
margin:0;
margin-left:15px;
padding:5px 0px 5px 3px;
}

.navTreeItemMenuPlateForme a, dd.portletItemMenuPlateForme .navTreeItemMenuPlateForme a {
margin-left:15px;
border-width:1px 1px 1px 1px;
border-style:solid solid dashed solid; 
border-color:#fff #fff #ccc #fff;
display:block;
padding-bottom:0.3em;
padding-top:0.3em;
padding-left:3px;
text-decoration:none;
}

.navTreeItemMenuPlateForme a:hover, dd.portletItemMenuPlateForme .navTreeItemMenuPlateForme a:hover {
background-color:#DEE7EC;
border:1px solid #8CACBB;
color:#436976;
}

.portletFooterMenuPlateForme{
background-image:url(bg_ft_portlet_menu_plateforme.png);
background-repeat:no-repeat;
width:192px;
height:31px;
background-color:transparent;
border-color:#000;
border-style:none;
border-width:0px;
margin-left:15px;
padding:0.25em 1em;
text-align:right;
margin-top:0px;
}

.portlet-experience-pour-ressource{
margin-top:3em; 
padding:1.2em;
background-color:#fff4be;
border-color:#d85d04;
border-width:4px;
border-style:solid;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
-ms-border-radius: 12px 12px 12px 12px;
border-radius: 12px 12px 12px 12px;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.portlet-experience-pour-ressource h3{
border-bottom:1px solid #d85d04;
margin-top:-10px;
margin-left:-5px;
padding-bottom:2px;
width:180px;
font-size:1.2em;
color:#8c103e;
margin-bottom:10px;
padding-left:5px;
}

#portlet-logo{
margin:auto;
padding:8px 0px;
background-color:#fff;
width:190px;
border-color:#000;
border-width:2px;
border-style:solid;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
-ms-border-radius: 12px 12px 12px 12px;
border-radius: 12px 12px 12px 12px;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);

}

/*** SEARCH ***/
.portletItemSearch{
background-color:transparent;
border-left:0 solid #8CACBB;
border-right:0 solid #8CACBB;
margin:0;
padding-left:30px;
}

input.searchField{
border:1px solid #9f515a;
color:#000;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:1em;
visibility:visible;
}

input.searchButton {
background-color:#ccc;
border:0px solid #e58c71;
color:#000;
cursor:pointer;
font-size:90%;
margin-top:3px;
margin-bottom:1px !important;
padding-left:16px;
text-transform:none;
}

.input-fields{
margin:2em 1em;
}


/*** FOOTER ***/
#clpsbw-footer{
/*background-image:url(barre_ombre_footer.png);
background-repeat:repeat-x;
background-position:center top; */
width:965px !important;
margin-left:auto;
margin-right:auto;
border-bottom:2px solid #444;
background-color:#565656;
padding:10px 30px 0px 30px;
}

#clpsbw-footer a{
color:#666;
text-decoration:none;
}

#clpsbw-footer a:hover{
color:#fff;
}


#clpsbw-copyright{
color:#fff;
font-size:1.1em;
text-align:center;
margin-bottom:5px;
}

#clpsbw-disclaimer{
color:#888;
font-size:0.9em;
text-align:center;
margin-bottom:8px;
padding-bottom:3px;
border-bottom:1px dotted #888;
}

#marque{
margin-bottom:5px;
}

#plone-site{
float:left;
}

#plone-site{
float:right;
}

/*** CLPSNEWS ***/
.clpsnews{
margin-left:15px;
/*border-bottom:1px solid #f9eddf;*/
}

.clpsnews-title{
font-size:1.2em;
font-weight:bold;
}

.clpsnews-description{
padding-left:15px;
}

.clpsnews-date{
color:#888;
font-size:0.8em;
}

#clpsnews-image{
float:left;
margin-right:15px;
}

#clpsnews-content{
margin-left:85px;
}

#separationNews{
height:2px;
border-bottom:1px solid #f9eddf;
margin-top:1.5em;
}


/*** PORTLET MENU DOMAINE ***/
#portlet-domaine{
height:450px;
background-image:url(menu_domaine.png);
background-repeat:no-repeat;
margin-bottom:15px;
}

#portlet-domaine a{
font-size:1em;
font-weight:bold;
font-variant:small-caps;
text-decoration:none;
color:#333;
}

#portlet-domaine a:hover{
color:#fff;
}

#sante-ecole{
position:relative;
top:54px;
left:27px;
width:125px;
text-align:center;
}

#point-appui{
position:relative;
top:112px;
left:28px;
width:140px;
text-align:center;
}

#sante-famille{
position:relative;
top:170px;
left:15px;
width:140px;
text-align:center;
}

#sante-environnement{
position:relative;
top:236px;
left:39px;
width:96px;
text-align:center;
display:block;
}


/***PORTLET PLATE-FORME***/
.portletHeaderPlateForme {
margin-left:15px;
margin-top:2em;
background-color:transparent;
background-image:url(bg_hd_portlet_plateforme.png);
background-repeat:no-repeat;
width:192px;
height:31px;
border:none;
color:#fff;
text-align:center;
font-weight:normal;
padding-left:20px;
padding-top:9px;
text-transform:none;
margin-bottom:-9px;
}

.portletItemPlateforme{
background-color:#d6e8f2;  /*#e0e5f2;*/
border-left:1px solid #000;
border-right:1px solid #000;
margin:0;
margin-left:15px;
padding:5px 0 5px 6px;
width:184px;
}


dd.portletItemPlateforme a:hover{
background-color:#b7cad3;
text-decoration:underline overline;
color:#000;
}

.portletFooterPlateForme {
background-image:url(bg_ft_portlet_plateforme.png);
background-repeat:no-repeat;
width:192px;
height:31px;
background-color:transparent;
border-color:#000;
border-style:none;
border-width:0px;
margin-left:15px;
padding:0.25em 1em;
text-align:right;
margin-top:0px;
}


/***PORTLET INSTITUION***/
.portletHeaderInstitution {
margin-left:15px;
margin-top:2em;
background-color:transparent;
background-image:url(bg_hd_portlet_menu_institution.png);
background-repeat:no-repeat;
width:192px;
height:31px;
border:none;
color:#fff;
text-align:center;
font-weight:normal;
padding-left:20px;
padding-top:9px;
text-transform:none;
margin-bottom:-9px;
}

.portletItemInstitution{
background-color:#fff3ff;
border-left:1px solid #000;
border-right:1px solid #000;
margin:0;
margin-left:15px;
padding:5px 0 5px 6px;
width:184px;
}


dd.portletItemInstitution a:hover{
background-color:#fff3ff;
text-decoration:underline overline;
color:#000;
}

.portletFooterInstitution {
background-image:url(bg_ft_portlet_institution.png);
background-repeat:no-repeat;
width:192px;
height:31px;
background-color:transparent;
border-color:#000;
border-style:none;
border-width:0px;
margin-left:15px;
padding:0.25em 1em;
text-align:right;
margin-top:0px;
}


/*** PORTLET MENU DB ***/
.portletHeaderDB {
/*margin-left:-37px;*/
margin-top:0px;
background-color:#888;
background-image:url(bg_hd_portlet_menu_db_2.png);
background-repeat:no-repeat;
width:178px;
height:33px;
border:none;
color:#F8A861;
text-align:center;
font-weight:bold;
font-size:1.2em;
padding-left:0px;
padding-top:9px;
text-transform:none;
margin-bottom:-9px;

border-color:#888;
border-width:1px;
border-style:solid;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
-o-border-radius: 12px 12px 0px 0px;
-ms-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
-o-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

/* une petite div pour limiter la taille de a href */
.portlet-experience-links{
width:175px;
}

.portletItemDB, .portletPresentationDB{
background-image:url(bg_body_portlet_menu_db_2.png);
background-repeat:repeat-y;
margin:0;
margin-left:15px;
width:178px;
}

dt.portletPresentationDB{
font-size:1em;
padding:15px 9px 0px 10px;
width:187px;
font-weight:normal;
}

dt.portletPresentationDB a{
text-decoration:none;
}

dt.portletPresentationDB a:hover{
color:#fff;
}


dt.portletItemDB{
font-variant:small-caps;
font-weight:bold;
font-size:10pt;
padding:5px 0px 5px 1px;
width:189px;
}

dd.portletItemDB{
line-height:1em;
padding:0px 0px 5px 1px;
width:185px;
}

dd.portletItemDB a{
display:block;
width:110px;
text-decoration:none;
padding-left:40px;
padding-right:1.5em; 
color:#74002b;
}

dd.portletItemDB a:hover{
text-decoration:none;
color:#fff;
}

.portletFooterDB {
background-image:url(bg_ft_portlet_menu_db_2.png);
background-repeat:no-repeat;
width:165px;
height:34px;
background-color:transparent;
border-color:#000;
border-style:none;
border-width:0px;
margin-left:15px;
padding:0.25em 3em 0.25em 1em;
text-align:right;
margin-top:0px;
}

#portletFooterDB-Bouton{
width:171px;
border-top:1px solid #7c1c39;
padding-top:1px;
}

#btn-projet-partage{
float:left;
width:40px;
text-align:left;
}

#btn-flch-verte{
float:right;
width:60px;
}


dd.etatBase a{
display:inline;
background-image:url(puce_verte_incruste.png);
background-repeat:no-repeat;
background-position:left center;
background-color:transparent;
padding-left:15px;

}
dd.etatBase a:hover{
background-image:url(puce_orange_incruste.png);
background-color:transparent;
color:#fff;
}

#Auteurs, #institutions, #Ressource, 
#Support, #MotCle, #Theme, #Public, #MilieuDeVie, #PlateForme{
}

#portlet-gestion-db, #portlet-db, #portlet-db-auteur{
width:180px;
margin-top:20px;
font-size:0.7em;
border-color:#000;
border-width:2px;
border-style:solid;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
-ms-border-radius: 12px 12px 12px 12px;
border-radius: 12px 12px 12px 12px;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.portlet-gestion-db-separation{
display:block;
width:190px;
margin:15px 0px 5px -14px;
}

/*** STYLE INTERNE ***/
/***portlet logo***/
#logo-promosante{
background-color:#fff;
text-align:center;
margin-bottom:2em;
}

#coq{
background-color:#fff;
text-align:center;
margin-bottom:2em;
}

#logo-bw{
background-color:#fff;
text-align:center;
vertical-align:text-bottom;
font-size:0.8em;
}

.text-bw{
position:relative;
top:28px;;
}

.gris{
color:#aaa;
}


/*masque le monstrueux petit glode du lien externe*/
#coq a[href^="http:"], #coq a.link-external{
background-color:transparent;
background-image: none;
}
#content a[href^="http:"], #content a.link-external {
background-color:transparent;
background-image: none;
padding:1px 0 1px 1px;
}

#texte-intro{
text-align:center;
margin-bottom: 3px;
}

/* style des couleurs titre et content */
#content {
color:#000;
}

h1, h2, h3, h4, h6 {
color:#d2915d;
}

h5{
color:#915827;
/*border-bottom:1px dashed #915827;*/
padding-left: 2em;
background-image:url(puzzle_jaune.png);
background-repeat:no-repeat;

}

.clpsnews-title {
font-size:1.1em;
font-variant:small-caps;
font-weight:bold;
color:#9f515a;
}

/*
   couleur bandeau
      orange : #ff8043;
      bleu   : #0083c1;
*/

/*** GALERIE ***/
#plone-true-gallery {
background-color:transparent;
}

.jcarousel-skin-truegallery .jcarousel-container {
background:transparent;
border:1px solid #999;
margin:auto;
}


/*** KUPU STYLE ***/
.para-justifie{
line-height:1.5em;
margin:0 0 0.75em;
text-align:justify;
}


/*** GESTION DB ***/
th{
color:#910037;
}

.legende{
color:#a85700;
font-weight:bold;
}

.titre_formation{
color:#ff9966;
font-variant:small-caps;
font-size:1.2em;
font-weight:bold;
padding-left:5px;
text-decoration:none;
}

.titre_formation:hover{
color:#ff5522;
}

.grasbrun{
font-weight:bold;
color:#b93f00;
}

.grasorange{
font-weight:bold;
color:#ff6f00;
}

.grasrouge{
font-weight:bold;
color:#ff0000;
}

.grasvert{
font-weight:bold;
color:#00aa00;
}

.gras{
font-weight:bold;
}

.vert-actif{
color:#00aa00;
font-size:0.8em;
}

.rouge-non-actif{
color:#ff0000;
font-size:0.8em;
}

.merci-text{
margin-top:2em;
font-size : 2em;
text-align:center;
}

.btn-nouvelle-recherche{
margin:auto;
margin-top:3em;
font-size:1.2em;
width:260px;
height:43px;
line-height:42px; /*permet le centrage vertical*/
text-align:center;
color:#000;
background:#444;
background:-moz-linear-gradient(top,#fff,#bdb);                   /*(top,#777,#333);*/
background:-webkit-gradient(linear, left top, left bottom, from(#572d00), to(#895600));
-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;
text-shadow:0px 1px 0px rgba(255,255,255);
text-shadow:0px 1px 0px rgba(255,255,255,0.3);
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5), 0 -1px 0 rgba(255,255,255,0.4);
-moz-box-shadow:0 0 5px rgba(0,0,0,0.5), 0 -1px 0 rgba(255,255,255,0.4);
box-shadow:0 0 5px rgba(0,0,0,0.5), 0 -1px 0 rgba(255,255,255,0.4);
}

.btn-nouvelle-recherche a{
color:#000;
text-decoration:none;
display:block;
width:260px;
height:43px;
}

.btn-nouvelle-recherche:hover{
color:#004a00;
background: rgb(208,234,214);
background: -moz-linear-gradient(top, rgba(208,234,214,1) 0%, rgba(170,221,181,1) 17%, rgba(97,198,109,1) 50%,
rgba(75,191,57,1) 51%, rgba(68,214,66,1) 59%, rgba(75,237,81,1) 71%, rgba(96,188,56,1) 84%, rgba(35,127,41,1)
100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,234,214,1)),
color-stop(17%,rgba(170,221,181,1)), color-stop(50%,rgba(97,198,109,1)), color-stop(51%,rgba(75,191,57,1)),
color-stop(59%,rgba(68,214,66,1)), color-stop(71%,rgba(75,237,81,1)), color-stop(84%,rgba(96,188,56,1)),
color-stop(100%,rgba(35,127,41,1)));
background: -webkit-linear-gradient(top, rgba(208,234,214,1) 0%,rgba(170,221,181,1) 17%,rgba(97,198,109,1)
50%,rgba(75,191,57,1) 51%,rgba(68,214,66,1) 59%,rgba(75,237,81,1) 71%,rgba(96,188,56,1) 84%,rgba(35,127,41,1)
100%);
background: -o-linear-gradient(top, rgba(208,234,214,1) 0%,rgba(170,221,181,1) 17%,rgba(97,198,109,1)
50%,rgba(75,191,57,1) 51%,rgba(68,214,66,1) 59%,rgba(75,237,81,1) 71%,rgba(96,188,56,1) 84%,rgba(35,127,41,1)
100%);

/*
background:-moz-linear-gradient( top, #777, #333);
background:-webkit-gradient( linear, left top, left bottom, from(#777), to(#333));
*/
}

.btn-nouvelle-recherche:active{
color:#000;
/*
background:#444;
background:-moz-linear-gradient( top, #555, #2C2C2C);
background:-webkit-gradient( linear, left top, left bottom, from(#555), to(#2C2C2C));
*/
-webkit-box-shadow:1px 1px 10px black inset, 0 1px 0 rgba(255,255,255,0.4);
-moz-box-shadow:1px 1px 10px black inset, 0 1px 0 rgba(255,255,255,0.4);
box-shadow:1px 1px 10px black inset, 0 1px 0 rgba(255,255,255,0.4);
}

/*** LISTING EXPERIENCE ***/ 

#listing-experience-main{
background-color:#fffdee;
border-left:3px solid #9bab5f; 
border-right:3px solid #9bab5f;
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:left bottom;
margin:auto;
width:747px;
}

#listing-titre{
width:100%;
height:90px;
background-color:#9bab5f;
background-image:url(bg_listing_titre.png);
background-repeat:no-repeat;
background-position:32px 37px;
text-align:center;
font-size:1.2em;
padding-top:25px;
}

#listing-titre h1{
color:#8d173e;
border-bottom:none;
}

#bg_listing_bord_sup{
height:26px;
}

#bg_listing_bord_inf{
height:26px;
background-image:url(bg_listing_bord_inf.png);
background-repeat:no-repeat;
background-position:3px 0px;
}


.listing-experience{
margin:auto;
margin-top:4em;
border-left:2px solid #da9000;
border-right:2px solid #da9000;
width:693px;    
}

#listing-experience-bord-sup{ 
position:relative;
left:-4px;
width:702px;
height:23px;
background-image:url(listing_bord_sup.png);
background-repeat:no-repeat;    
}

#listing-experience-bord-inf{
position:relative;
left:-4px;
width:702px;
height:23px;
background-image:url(listing_bord_inf.png);
background-repeat:no-repeat;
}

#listing-nbre-experience{
margin:0px;
color:#bc7600;
font-size:1.3em;
font-weight:bold;
text-align:center;
}

.listing-zone-titre{
background-color:transparent;
text-align:center;
margin:auto;
margin-top:-10px;
}

.listing-titre-experience{ 
position:relative;
top:-5px;
background-color:#fffdee;
background-image:url(puzzle_jaune_18.png);
background-repeat:no-repeat;
background-position:left center;
color:#b03a5f;
font-variant:small-caps;
font-size:1.2em;
font-weight:bold;
padding:0px 1em 0px 2em;
text-decoration:none;
}

.listing-texte-experience{
padding:1em;
}

.listing-experience-etat{
background-color:#ffd6ff;
float: left;
margin-top:15px;
margin-left:10px;
width:95px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.listing-experience-bouton{
float:right;
margin-top:15px;
margin-right:10px;
}


#footer-listing{
height:46px;
margin-top: 1.2em;
border-top:1px dashed #aaa;
}





/** FORMULAIRE EXPERIENCE **/
.formulaire li{
list-style:none;
margin:1em 0px;
}

.description li{
list-style:none;
margin:1em 0px;
background-color:#ffeae1;
padding:4px 10px;
}

.form-experience-left-column{
width:550px;
vertical-align:top;
}

.form-experience-right-column{
vertical-align:top;
padding-top:2em;
}

#photo-experience{
margin-auto;
margin-top:15%;
text-align:center;
}

#info-champs{
color:#888;
border-left:1px dotted #ddd;
padding-left:3px;
}

.ligne-horizontale{
border-bottom:1px dotted #ddd;
}

.rubrique-db{
background-image:url(flch_orange_pt.gif);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:10px;
margin-left:20px;
font-weight:bold;
}

.text-db{
color:#660033;
padding-left:10px;
margin-left:20px;
font-weight:bold;
}

.info-db{
color: #888;
font-size:0.9em;
padding-left:2em;
text-align:justify;
}

.btn-modifier{
width:25px;
height:25px;
}

.btn-modifier a {
display:block;
text-decoration:none;
background-image:url(modifier_off.png);
background-repeat:no-repeat;
}

.btn-modifier a:hover {
background-image:url(modifier_on.png);
}

table.listing {
border-bottom:1px solid #8CACBB;
border-collapse:collapse;
border-left:1px solid #8CACBB;
border-spacing:0;
font-size:90%;
margin:1em auto;
}


.titre-for-manage{
font-weight:normal;
font-variant:small-caps;
color:#a4307f;
margin-bottom:1em;
}


/**** DESCRIPTION EXPERIENCE ****/
#logo-projet-paratge{
background-color:#db941e;
border-bottom:2px solid #9f3337; 
padding-left:10px;
padding-top:8px;
height:50px;
}

#main-experience{
/*border:1px solid #f00;*/
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:right bottom;
}

/** colonne gauche **/
#left-experience{
float:left;
width:530px;
padding:0px 5px;
color:#51686d;
}

#border-experience{
border-left:1px solid #eee;
/*border-right:1px solid #eee;*/
border-bottom:1px solid #eee;
}

#title-experience{
/*margin-top:45px;*/
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
height:73px;
width:100%;
background-color:#8d153e;
text-align:center;
}

#title-experience-left{
float:left;
background-image:url(titre_description_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:28px;
height:73px;
}

.titre-top{ 
float:left;
color:#fff;
width:90%;
margin-top:10px;
}

#title-experience-right{
float:right;
background-image:url(titre_description_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:28px;
height:73px;
}

.rouge-titre{
color:#90113d;
}

.orange-titre{
background: #DDD url('../clpsbw_images/puzzle_vert_2.png') repeat/repeat-x/repeat-y/no-repeat scroll/fixed top/center/bottom/x-%/x-pos left/center/right/y-%/y-pos;
color:#dd952b;
}

.left-rubrique-db{
font-weight:bold;
font-size:1.1em;
color:#51686d;
}

/** COLONNE DROITE DESCRIPTION EXPERIENCE **/
#right-experience{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:-35px;
}

#right-experience-header{
width:216px;
height:90px;
background-image:url(des_exp_right_header.png);
background-repeat:no-repeat;
}

#right-experience-content{
width:216px;
background-image:url(des_exp_right_bckgrnd.png);
background-repeat:repeat-y;
}

#right-experience-content p{
background-image:url(puce-carre-noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#right-experience-content a{
text-decoration:none;
color:#3c5057;
}

#right-experience-content a:hover{
text-decoration:underline;
color:#15292f;
}


#right-experience-footer{
width:216px;
height:39px;
background-image:url(des_exp_right_footer.png);
background-repeat:no-repeat;
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

#institution-porteur-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#institution-partenaire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#periode-deroulement-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#territoire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#ressource-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#personne-contact-experience{
padding:0px 15px 0px 15px;
/*margin-bottom:8px;*/
}

#pdf-experience{
padding:0px 15px 0px 15px; 
}
.pdf-file{
display: block;
padding-left: 36px;
padding-top: 5px;}

#clearboth{
clear:both;
}

#experience-etat{
background-color:#ffd6ff;
float: right;
margin-top:-25px;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.description-texte{
background-color:#efefef;
border:1px solid #dedede;
}

.description-for-manager{
border-top: 3px double #850864;
border-bottom: 3px double #850864;
border-left: 1px solid #850864;
border-right: 1px solid #850864;
background-color:#ffd6ff;
padding:1em;
}
.description-for-manager fieldset{
border: 1px solid #850864;
}
.description-for-manager legend{
background-color:transparent;
} 


.div_question{
margin : 8px 0px;
}

.btn-links-table{
float:right;
margin-top:8px;                       
margin-right:26px;
} 


/*** DESCRIPTION INSTITUTION ***/ 
#left-institution{
float:left;
width:510px;
padding:0px 5px;
color:#51686d;
}
  
#right-institution{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:-20px;
}

#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;  
margin-bottom:10px;
padding-left:10px;
}
 
#title-institution{
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
height:73px;
width:743px;
text-align:center;
background-color:#003088;
border:2px solid #005492;
-moz-border-radius: 16px 16px 16px 16px;
-webkit-border-radius: 16px 16px 16px 16px;
-o-border-radius: 16px 16px 16px 16px;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

/*
#title-institution-left{
float:left;
background-image:url(titre_insitution_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:28px;
height:73px;
}
*/
.titre-institution-top{ 
float:left;
color:#fff;
width:90%;
margin-top:10px;
}

#title-institution-right{
float:right;
width:28px;
height:73px;
}

#title-ressource{
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
height:73px;
width:100%;
text-align:center;
background-color:#548962;
}

#title-ressource-left{
float:left;
background-image:url(titre_ressource_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:28px;
height:73px;
}

.titre-ressource-top{ 
float:left;
color:#fff;
width:90%;
margin-top:10px;
}

#title-ressource-right{
float:right;
background-image:url(titre_ressource_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:28px;
height:73px;
}

.puzzle-gris{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

.puzzle-rouge{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

.puzzle-jaune{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

.puzzle-vert{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

#projet-partage-institution{
width:80%;
margin:2em auto;
border:2px solid #c57400;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
background-color:#da951f;
padding:1em;
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

#projet-partage-institution h3{
border-bottom: 1px dotted #8C103E;
color: #8C103E;
padding-bottom: 5px;}

#projet-partage-institution h4{
color:#000;
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:12px;
}


#projet-partage-institution a{
color:#333;
text-decoration:none;
}

#projet-partage-institution a:hover{
color:#111;
text-decoration:underline;
}

#document-action-pdf {
}


#institution-coordonnee-assuetude{
width:80%;
margin:2em auto;
border:2px solid #005492;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
background-color:#f3fefb;
padding:1em; 
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.textdb{
color: #660033;
font-weight: bold;
padding-left: 5px;
margin-bottom:8px;
font-size:8pt;
}

#institution-description-assuetude{
width:600px;
margin:2em auto;
background-color:#f3fefb;
border:2px solid #005492;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
background-color:#f3fefb;
padding:1em; 
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.titre-description-assuetude{
padding-right:2em;
border-bottom:1px solid #cfd9d7;
}

#institution-description-assuetude h4,
#institution-coordonnee-assuetude h4{
background-image:url(flch_bleue.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:12px;
color:#51686d;
font-size:9pt;
}

#institution-etat{
margin-top:11px;
margin-left:332px;
background-color:#ffd6ff;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

#info-institution-assuetude{
background-color:#f3fefb;
}

#info-institution-assuetude legend{
background-color:transparent;
}

.precision{
margin-top:5px;;
margin-left:55px;
padding-left:5px;
width:480px;
border-left:1px dotted #555;
color:#888;
}

.info-institution-assuetude-odd{
background-color:#e8f3f0;
}

.info-institution-assuetude-even{
background-color:#dbe5e3;
}


.organisme-fiche{
background-color:rgba(212,245,255,0.3);
border:1px solid #ddd;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
-o-border-radius: 12px 12px 0px 0px;
-ms-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
margin:20px 5px;
max-width:530px;
}

.organisme-titre{
background: rgb(0,48,136);
background: -moz-linear-gradient(top, rgba(0,48,136,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,48,136,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -ms-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003088', endColorstr='#7db9e8',GradientType=0 );
background: linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);height:35px;
margin-top:0px;
margin-left:0px;
max-width:530px;
height:50px;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
-o-border-radius: 12px 12px 0px 0px;
-ms-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
}

.organisme-titre a{
display:block;
padding:10px 0px 0px 25px;
color:#00ffff;
font-size:1.2em;
font-weight:bold;
text-decoration:none;
}

.organisme-titre a:hover{
color:#ffaf00;
}

.organisme-fiche dl{
margin-left:2em;
}

/*** MOTEUR RECHERCHE ***/
#zone-titre-moteur-recherche{
width:713px;
height:72px;
padding-top:20px;
background-color :#778750;
margin:auto;
text-align:center;
background-image:url(bg_moteur_recherche_titre.png);
background-repeat:no-repeat;
background-position:30px 20px;
}

.search-titre{
font-size:2em;
font-weight:bold;
color:#8c103e;
text-align:center;
}

.search-text-intro{
text-align:center;
font-size:1.2em;
color:#fff; 
width:80%;
margin:auto;
padding-top:5px;
}

#zone-moteur-recherche{
width:713px;
height:950px;
background-image:url(bg_moteur_recherche.png);
background-repeat:no-repeat;
padding-top:10px;
text-align:center;
margin:auto;
}
#moteur-recherche{
width:713px;
margin:auto;
margin-top:60px;
border:0px solid #eee;
}

#moteur-recherche td{
text-align:center;
}

.search-legend-titre{
background-color:transparent;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:25px;
font-weight:bold;
font-variant:small-caps;
color:#fff;
}

.search-legend{
background-color:transparent;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:25px;
font-weight:bold;
font-variant:small-caps;
color:#fff;
}


.search-zone-nom{
background-color:transparent;
border:2px solid #fff;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
text-align:center;
width:630px;
margin:auto;
margin-top:10px;
padding-bottom:5px;
}

.search-ligne-blanche{
background-color:#fff;
border:0 none;
height:1px;
margin:0.5em 0 1em;
}

.search-zone{
background-color:transparent;
border:2px solid #fff;
text-align:center;
width:80%;
padding:8px 5px;
margin:auto;
}

.search-button{
margin-top:12px;
background-repeat:repeat-x;
height:25px;
color:#444;
}

.search-ou{
font-size:2em;
font-weight:bold;
color:#555;
}

#titre-experience{
font-variant:small-caps;
font-size:1.3em;
font-weight:bold;
text-align:right;
padding-right:18px;
background-image:url(fnd_titre_experience.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:58px;
}

#resume-experience{
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

#contexte-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#objectif-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#public-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#milieu-de-vie-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#demarche-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
padding-left:50px;
}

#moyen-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#evaluation-experience{
margin-top:10px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#pour-aller-loin-experience{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#perspective-envisagee{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}



/**** PRESENTATION DB ****/
#zone-titre-presentation-db{
background-image:url(bg_presentation_db.png);
background-repeat:no-repeat;
background-position:0px 32px;
height:1200px;
}

#titre-presentation-db{
color:#fff;
font-size:13pt;
margin-top:35px;
margin-left:100px;    
}

#moteur-presentation-db{
font-size:13pt;
color:#da9527;
margin-top:62px;
margin-left:600px;
}

#moteur-presentation-db a{
color:#7d1f39;  
text-decoration:none;
}

#moteur-presentation-db a:hover{
color:#3d4e02;
}


#intro-presentation-db{ 
width:565px;
margin-top:-60px;
margin-left:30px;
color:#52697b;
font-size:10pt;
font-style:italic;
}

#intro-presentation-db ul{
list-style-type:none;
list-style-image: url(search_puce.png);
}

#texte-presentation-db{
margin:auto;
margin-top:50px;
width:625px; 
}

#texte-presentation-db ul{
list-style-type:none;
list-style-image: url(search_puce.png);
}




/** COLONNE DROITE DESCRIPTION RESSOURCE **/ 
#left-ressource{
float:left;
width:525px;
padding:0px 5px;
color:#51686d;
}

#right-ressource{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:-35px;
}

#right-ressource-header{
width:216px;
height:92px;

background-image:url(des_ressource_right_header.png);
background-repeat:no-repeat;
}

#right-ressource-content{
width:192px;
padding:10px 12px;
background-image:url(des_ressource_right_bckgrnd.png);
background-repeat:repeat-y;
}

#right-ressource-content div{
margin:15px 0px;
}

#right-ressource-content a{
text-decoration:none;
color:#3c5057;
}

#right-ressource-content a:hover{
text-decoration:underline;
color:#15292f;
}


#right-ressource-footer{
width:216px;
height:39px;
background-image:url(des_ressource_right_footer.png);
background-repeat:no-repeat;
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}
